.menuBox {
  @apply absolute menu bg-base-200 rounded-s-full w-60 top-0 right-0 z-30 py-16 pl-3;
}
.menuOpen {
  animation: slideLeft 1s ease-in;
}
.menuClose {
  display: none;
  transform: translateX(100%);
  animation: slideRight 1s ease-in;
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
    display: flex;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    display: none;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    display: flex;
  }
}
