@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient-start {
    stop-color: theme("colors.primary");
    animation: gradient-x 2s ease infinite;
  }
  .animate-gradient-end {
    stop-color: theme("colors.secondary");
    animation: gradient-x 2s ease infinite reverse;
  }
}

body {
  @apply max-w-screen-md mx-auto my-0 font-sans font-light text-primary text-base bg-gradient-to-b from-teal-900 to-emerald-700;
}
